{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "eqeqeq": ["error", "always"]
  }
}
